<div class="two-col" id="right">
  <h3 class="sub-section-title">Finish Weekend MVPs</h3>
  <p>Finished! Check out the projects below that have been launched during @finishweekend.</p>
  <div id="slider">
    <a href="#" id="prev">slider-prev</a>
    <a href="#" id="next">slider-next</a>
    <a href="http://loseitorloseit.com"><%= image_tag "loseitorloseit.png" %></a>
  </div>
</div>
