<article>
  <header>
    <h2>People</h2>
  </header>
        
  <p class="section-description">Your best buds will be there.</p>
        
  <div class="one-col">
    <ul id="people-list">
      <% event.registrations.each do |person| %>
        <% if !person.hidden? %>
          <li><%= image_tag person.gravatar_url(secure: true, size: 25, rating: 'PG', default: 'https://www.finishweekend.com/missing.jpg'), title: person.name %></li>
        <% else %>
          <li><%= image_tag 'https://www.finishweekend.com/missing.jpg', width: 25, height: 25, title: 'Anonymous' %></li>
        <% end %>
      <% end %>
      <% if event.capacity? %>
        <% (event.capacity - event.registrations.count).times do |i| %>
          <li><%= image_tag "img-hold.png", width: 25, height: 25, alt: '', title: '' %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
        
  <div class="clearfix"></div>
</article><!-- #article -->
