<article>
  <header>
    <h2>Schedule</h2>
  </header>
        
  <p class="section-description">Productivity needs a plan.</p>
        
  <div class="three-col important-details" id="right">
    <h3 class="sub-section-title">Important Details</h3>
    <p>
      <strong>Sleeping/Lodging</strong>
      <% if @current_event.additional_info && @current_event.additional_info.empty? %>
        More information coming soon!
      <% else %>
        <%= @current_event.additional_info %>
      <% end %>
    </p>
    <p>We'll provide ample amounts of food, drink, and caffeine. There are also lots of restaurants within walking distance.</p>
  </div>
        
  <div class="three-col" id="center">
    <h3 class="sub-section-title">2nd Day</h3>
    <p><strong>8:00</strong>Breakfast and refocus</p>
    <p><strong>3:00</strong>Show and tell about what we finished</p>
  </div>
        
  <div class="three-col" id="left">
    <h3 class="sub-section-title">1st Day</h3>
    <p><strong>8:00 – 8:45</strong>Coffee and donuts and getting setup</p>
    <p><strong>8:45 – 9:00</strong>Official kickoff and announcements of what we intend to finish over the weekend</p>
    <p><strong>12:00</strong>Food! Feed the brain</p>
    <p><strong>6:00</strong>More food</p>
  </div>
        
  <div class="clearfix"></div>
</article><!-- #article -->
