<article>
  <header>
    <h2>Sponsors</h2>
  </header>
  <p class="section-description">Supporting Finish Weekend</p>
  <div class="one-col">
    <ul id="primary-sponsors">
      <% event.sponsors.premier.each do |sponsor| %>
        <li><a href="<%= sponsor.url %>"><%= image_tag sponsor.image.url, height: 150, width: 200 %></a></li>
      <% end %>
      <% event.sponsors.event.each do |sponsor| %>
        <li><a href="<%= sponsor.url %>"><%= image_tag sponsor.image.url, height: 75, width: 100  %></a></li>
      <% end %>
    </ul>
  </div>
  <div class="clearfix"></div>
</article><!-- #article -->
