<article>
  <header>
      <h2>FAQs</h2>
  </header>
        
  <p class="section-description">Frequently Asked Questions.</p>
        
  <div class="three-col" id="right">
    <h3 class="sub-section-title">Registration</h3>
    <p><strong>Do I need to register?</strong>No, but it helps us plan properly and you get guaranteed food and a t-shirt!</p>
    <p><strong>Can I just come for part?</strong>Yes! We'd prefer you register, but drop-ins are welcome. Did we mention you get a t-shirt if you register?</p>
    <p><strong>Do I get a T-shirt?</strong>Yes! But only if you register.</p>
            
    <h3 class="sub-section-title">The Future<small>TM</small></h3>
    <p><strong>Come to my city!</strong>Ok, that's not a question, but we'd love to! We'll announce plans after our inaugural event. Want to help? Get in touch.</p>
    <p><strong>When is the next one?</strong>We'll be announcing plans after the first one.</p>
  </div>
        
  <div class="three-col" id="center">
    <h3 class="sub-section-title">Logistics</h3>
    <p><strong>Is there food?</strong>Yes! We'll provide lots of food and drink. There are also lots of places within walking distance. By registering, you help ensure we have enough.</p>
    <p><strong>Where do I sleep?</strong>Many people will go home or stay up all night. We will have places you can crash, and hotel rooms available. If you need a place to crash, please contact us.</p>
    <p><strong>Is there a program?</strong>We have a loose schedule but the goal is to get together to finish things. The program isn't very formal, but full of fun.</p>
  </div>
        
  <div class="three-col" id="left">
    <h3 class="sub-section-title">Project</h3>
    <p><strong>Do I need a project?</strong>Nope! Just come and help other people finish. You can be a help with whatever skills you have, or simply provide encouragement.</p>
    <p><strong>What kind of projects?</strong>Anything! Want to launch an app? Create a blog? Write a novel? Rebuild your engine? We don't care, just bring something you want to finish?</p>
    <p><strong>Do I have to finish?</strong>Well, that's the goal, but we also want to help you finish something. Can you trim out features, or reduce your scope for your first release? Can you release a demo or rough draft? We'll help you get something finished so that you'll have motivation to keep up with it after.</p>
  </div>
        
  <div class="clearfix"></div>
</article><!-- #article -->
