<article id="sponsor-levels">
  <h3>Partners</h3>

  <p>There's only one partner per event. The cost to become the partner for an event is <b>$3,000</b>.</p>
  <p>All communications and marketing materials regarding the event feature the partner's name and logo, front and center. That includes the homepage, event page, posters, badges, and signage.
    Prominent representation on the digital announcement screen at the event.
    All verbiage includes the name of the partner at the same level as Collective Idea. For example:  Collective Idea and "Your Company" present: Finish Weekend Detroit
    We'll write a blog post about the partner on the Finish Weekend (or Collective Idea) blog. And last but not least, the employees of the partner can attend for free (if numbers allow).
    After the event, we'll send a thank-you email to the attendees that doubles as a promotional email for the partner.
  </p>

  <h3>Gold Sponsors</h3>
  <p>The cost to become a sponsor for an event is <b>$1,000</b>.</p>
  <p>
    Sponsors get linked logos and short write-ups on the event page. They will also be featured on the homepage while the event is upcoming.  If a sponsor registers before our print material cutoff (2 weeks before the event), they'll also appear on posters, badges and signage.
    Sponsors also get 2 free event registrations (if numbers allow).
    Prominent representation on the digital announcement screen at the event.
    After the event (and after the partner's promotional email goes out), we'll send one more promotional email that features all of our sponsors and whatever content (restricted length) they want alongside their name/logo.
    The Finish Weekend team will be tweeting about the sponsors.
  </p>


  <h3>Supporter Sponsors</h3>
  <p>The cost to become a supporter for an event is <b>$300</b>.</p>
  <p>
    Supporters get linked logos and short write-ups on the event page and on the digital announcement screen at the event as well as one free registration.
    The Finish Weekend team will be tweeting about the event supporters.</p>      
  </p>
  <div class="clearfix"></div>
</article><!-- #article -->
