<div class="one-col">
  <ul id="primary-sponsors">
    <% @current_event.sponsors.partner.each do |sponsor| %>
      <li><a href="<%= sponsor.url %>"><%= image_tag sponsor.image.url, height: 150, width: 200 %></a></li>
    <% end %>
  </ul>
</div>

<div class="one-col">
  <ul id="secondary-sponsors">
    <% @current_event.sponsors.event.each do |sponsor| %>
      <li><a href="<%= sponsor.url%>"><%= image_tag sponsor.image.url, height: 75, width: 110 %></a></li>
    <% end %>
  </ul>
</div>

