body.management {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: none;

  ul {
    list-style: none;
  }


  #event-list {
    width: 200px;
  }

  #event-info {
    width: 730px;
    margin: 0 5px;
  }

  #coupon-list, #registrant-list, #sponsor-list {
    li {
      margin-top: 7px;
      border-bottom: 1px solid #ddd;
      line-height: 35px;
    }
  }

  #registrant-list .email {
    color: #999;
    font-size: 12px;
  }

  .container {
    position: relative;
    height: 100%;
  }

  .wrapper {
    margin-top: 45px;
  }

  .login-form {
    width: 400px;
    margin: auto auto;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 960px;
    background-color: transparent;
  }
}
