#event-price {
  float: right;
  margin: 40px 10px 0 0;
  
  span {
    font-size: 60px;
    font-weight: bold;
  }
  p {
    margin: 5px 0;
    font-size: 20px;
    text-align: center;
  }
}

.new_registration {
  margin: 20px 0 0 0;
  
  label {
    display: inline-block;
    width: 200px;
    margin: 10px 5px;
    text-align: right;
  }

  input[type=checkbox], input[type=submit] {
    margin: 10px 0 0 213px;
  }

  .checkbox-label {
    width: 375px;
  }

  .optional {
    color: #999;
    font-size: 12px;
  }
}

